<div class="product">
  {% comment %} title {% endcomment %}
  <div class="product__title">
    <h1>{{ product.title | escape }}</h1>
  </div>

  {% comment %} price {% endcomment %}
  <div id="price-{{ section.id }}" role="status">
    {%- render 'price', product: product, use_variant: true, show_badges: true, price_class: 'price--large' -%}
  </div>

  {% comment %} buy button, rewrite but need to show sold out buttons too {% endcomment %}
  {%- assign product_form_id = 'product-form-' | append: section.id -%}
  {%- render 'buy-buttons',
    block: block,
    product: product,
    product_form_id: product_form_id,
    section_id: section.id,
    show_pickup_availability: true
  -%}

  {% comment %} rewrite media gallery {% endcomment %}
  {% assign variant_images = product.images | where: 'attached_to_variant?', true | map: 'src' %}
  <div class="grid__item product__media-wrapper">
    {% render 'product-media-gallery', variant_images: variant_images %}
  </div>

  {% comment %} description {% endcomment %}
  {%- if product.description != blank -%}
    <div class="product__description rte quick-add-hidden">
      {{ product.description }}
    </div>
  {%- endif -%}
</div>
